$white: #fff;
$black: #000;
$purple: #8824cd;
$purple-dark: #521a66;
$pink: #e7526b;
$blue-dark: #2e3b4e;
$marine-dark: #3a4d60;
$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Merriweather', serif;
$image-dir: '../../images/';
